<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--<link rel="stylesheet" href="{{ url_for('static',filename='JavaScript Libraries/jquery-ui-1.13.0.custom/jquery-ui.min.css') }}">-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main.css') }}">
    <!--<script src="{{ url_for('static',filename='JavaScript Libraries/jquery-3.6.0.min.js') }}"></script>
    <script src="{{ url_for('static',filename='JavaScript Libraries/jquery-ui-1.13.0.custom/jquery-ui.min.js') }}"></script>-->
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{{ url_for('static',filename='js/main.js') }}"></script>
    <title>Python Quiz Project</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='img/favicon.ico') }}">
</head>
<body>

{% block content %}{% endblock %}

</body>
</html>